#ignore Python cache files
__pycache__/
*.pyc

#don't include package
dist/
src/*.egg-info

#other folders
plots/
conda-recipe/

notebooks/
.ipynb_checkpoints/
#virtual environments
venv/
env/
.env/
cosmowap_env/
.cosmowap_env/
wap_env/
.wap_env/
